/*! http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*! HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
  /*! cascade the window height */
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*!
 * standardize the elements
 * heavily influenced by http://necolas.github.io/normalize.css/
 */
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--base-background-color);
  color: var(--base-font-color);
  direction: ltr;
  font: var(--base-font-weight) var(--base-font-size) roboto, "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
  /*! cascade the window height */
  height: 100%;
  /*! http://meyerweb.com/eric/tools/css/reset/ */
  line-height: 1;
}

/*! remove the gray background color from active links in IE 10. */
a {
  background-color: transparent;
}

/*! address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b,
strong {
  font-weight: bold;
}

button,
input:not([type="radio"]):not([type="checkbox"]),
optgroup,
select,
textarea {
  @mixin appearance none;
  font: inherit;
}

/*! address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible;
}

button,
[type=button],
[type=submit],
[type=reset] {
  cursor: pointer;
}

/*!
 * firefox add's 2px padding in a submit button
 * http://stackoverflow.com/questions/12288175/firefox-adds-2px-padding-in-a-submit-button#answer-12573301
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*!
 * iOS safari has default user-agent style for disabled input
 * opacity: 0.4;
 */
[disabled] {
  cursor: not-allowed;
  opacity: 1;
}

select:focus,
input:focus,
button:focus {
  border: var(--default-focus-highlight-border);
  outline: none;
}

/*!
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/*! remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto;
}
