:root {
  --input-field-font-color: #101010;
  --input-field-border: var(--default-border);
  --input-field-border-radius: var(--default-border-radius);
  --input-field-height: 44px;
  --input-field-padding: var(--default-padding);
  --input-field-disabled-font-color: var(--input-field-font-color);
  --input-field-disabled-background-color: #e6e7e8;

  --placeholder-color: #8f8f8f;
}
